$font-tanha : "tanha";
$color-primary-0:#0090cc;
$color-primary-1:#3fd4ee;
$color-primary-2:#202647;
$color-primary-3:#00bf80;
$color-primary-4:#0dbcc0;
$color-primary-5:#fafafa;
$color-primary-6:#e9ecef;


$fashion-shadow:inset 0 2px 5px rgba(0, 0, 0, 0.25);
